.left-sidebar_s{
    display: grid;
    width: 20vw;
    padding: 1vw;
    background-color: #fff0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    height: 100%;
    overflow: hidden;
    color: white; 
}
.Dashboard{
    align-self: center;
    width: 13.5vw;
    padding: 0.5vw;
    background-color: #ffffff00;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 1vw;
} 
#Dashboard_title {
    text-align: center;
    display: flex;
    margin-left: 1%;
}


.logo_s {
    margin-left: 1.5vw;
    display: inline-flex; /*Responsible for getting the logo and text in same line*/
    align-items: center;
    width: 21.5vw; /* Set box width to 24.5vw */
    transition: background-color 0.3s;
    background-color: transparent; /* Initial transparent background */
    border: none; /* Remove border */
    cursor: pointer; /* Add pointer cursor for click interaction */
    border-radius: 10px; /* Add rounded corners */
    padding-left: 10px;
}


.logo_s.active {
    background-color:  #ffffff; /* Permanent change to  when clicked */
    color: #172141; /* Change font color on hover */ 
}

.logo_s:hover {
    background-color:#ffffff; /* Change background color on hover */
    color: #172141; /* Change font color on hover */
}

.logo-img_s {
    margin: 0.25vw 0.5vw 0.25vw 0.5vw; /*Top Right Bottom Left*/
    width: 2rem;
    height: 2rem;
}

.your_hr {
    margin-left: 10px;
    margin-top: 0.25vw;
    margin-bottom: 0.25vw;
}

.your_info {
    margin-left: 10px;
    margin-top: 0.25vw;
    margin-bottom: 0.25vw;
}


.main_Dashboard{
    width: 25vw;
    padding: 0.5vw;
    background-color: #ffffff00;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-left: -0.25vw;
    margin-top: 0.5vw;
}

/* ****************************************************************mid bar************************************************* */
.mid_bar{
    /* display: flex; */
    justify-content: left; /* Center content horizontally */
    width: 81%;
    padding: 0.5vw;
    background-color: lightblue;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    
}
.mid_bar_content{
    /*display: flex;
    flex-wrap: wrap; /* Allow content to wrap within the container */
    max-width: 100%; /* Adjust the max-width for responsiveness */
    padding: 2vw;
    background-color: #fff3;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adjust shadow values */
    text-align: center;
    margin: 2vw;
}

/* *********************************************Your Information******************************************* */
#yr_info,
#Priv,
#Prof_Tag,
#Publ,
#Block,
#Lang,
#Notif {
    text-align: justify;
    color: #172141;
}

#Voice{
    text-align: left
}

#voiceForm {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    width: 300px; /* Adjusted width */
    margin: 20px; /* Added margin */
    align-items: center;
}

label, input, button, textarea {
    margin-bottom: 10px;
}

#voiceInput, #textOutput {
    width: calc(100% - 20px); /* Adjusted width */
    padding: 10px;
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: #172141;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
    color: #ffffff;
}

#map {
    height: 95%;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

/* --------------------------------------------Stats---------------------- */

.gauge {
    --percentage: 100;
    --rotation: calc((100 - var(--percentage)) * 1.8deg);
    position: relative;
    border-radius: 50%/100% 100% 0 0;
    background-color: var(--color, #f43e3e);
    overflow: hidden;
    margin: 7vw;
}

.gauge:before {
    content: "";
    display: block;
    padding-top: 50%;
}

.gauge .chart {
    overflow: hidden;
}

.gauge .mask {
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    top: 40%;
    background-color: #bee0eb;
    border-radius: 50%/100% 100% 0 0;
}

.gauge .percentage {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: 0;
    right: -1px;
    background-color: var(--background, #fff);
    transform: rotate(var(--rotation));
    transform-origin: bottom center;
    transition-duration: 600ms;
}

.gauge .value {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    text-align: center;
}

.gauge .min {
    position: absolute;
    bottom: 0;
    left: 5%;
}

.gauge .max {
    position: absolute;
    bottom: 0;
    right: 5%;
}

.gauge1 {
    --percentage: 100;
    --rotation: calc((100 - var(--percentage)) * 1.8deg);
    position: relative;
    border-radius: 50%/100% 100% 0 0;
    background-color: var(--color, #f43e3e);
    overflow: hidden;
    margin: 7vw;
}

.gauge1:before {
    content: "";
    display: block;
    padding-top: 50%;
}

.gauge1 .chart {
    overflow: hidden;
}

.gauge1 .mask {
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    top: 40%;
    background-color: #bee0eb;
    border-radius: 50%/100% 100% 0 0;
}

.gauge1 .percentage {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: 0;
    right: -1px;
    background-color: var(--background, #fff);
    transform: rotate(var(--rotation));
    transform-origin: bottom center;
    transition-duration: 600ms;
}

.gauge1 .value {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    text-align: center;
}

.gauge1 .min {
    position: absolute;
    bottom: 0;
    left: 5%;
}

.gauge1 .max {
    position: absolute;
    bottom: 0;
    right: 5%;
}

.gauge2 {
    --percentage: 100;
    --rotation: calc((100 - var(--percentage)) * 1.8deg);
    position: relative;
    border-radius: 50%/100% 100% 0 0;
    background-color: var(--color, #f43e3e);
    overflow: hidden;
    margin: 7vw;
}

.gauge2:before {
    content: "";
    display: block;
    padding-top: 50%;
}

.gauge2 .chart {
    overflow: hidden;
}

.gauge2 .mask {
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    top: 40%;
    background-color: #bee0eb;
    border-radius: 50%/100% 100% 0 0;
}

.gauge2 .percentage {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: 0;
    right: -1px;
    background-color: var(--background, #fff);
    transform: rotate(var(--rotation));
    transform-origin: bottom center;
    transition-duration: 600ms;
}

.gauge2 .value {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    text-align: center;
}

.gauge2 .min {
    position: absolute;
    bottom: 0;
    left: 5%;
}

.gauge2 .max {
    position: absolute;
    bottom: 0;
    right: 5%;
}

.gauge3 {
    --percentage: 100;
    --rotation: calc((100 - var(--percentage)) * 1.8deg);
    position: relative;
    border-radius: 50%/100% 100% 0 0;
    background-color: var(--color, #f43e3e);
    overflow: hidden;
    margin: 7vw;
}

.gauge3:before {
    content: "";
    display: block;
    padding-top: 50%;
}

.gauge3 .chart {
    overflow: hidden;
}

.gauge3 .mask {
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    top: 40%;
    background-color: #bee0eb;
    border-radius: 50%/100% 100% 0 0;
}

.gauge3 .percentage {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: 0;
    right: -1px;
    background-color: var(--background, #fff);
    transform: rotate(var(--rotation));
    transform-origin: bottom center;
    transition-duration: 600ms;
}

.gauge3 .value {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    text-align: center;
}

.gauge3 .min {
    position: absolute;
    bottom: 0;
    left: 5%;
}

.gauge3 .max {
    position: absolute;
    bottom: 0;
    right: 5%;
}

.gauge4 {
    --percentage: 100;
    --rotation: calc((100 - var(--percentage)) * 1.8deg);
    position: relative;
    border-radius: 50%/100% 100% 0 0;
    background-color: var(--color, #f43e3e);
    overflow: hidden;
    margin: 7vw;
}

.gauge4:before {
    content: "";
    display: block;
    padding-top: 50%;
}

.gauge4 .chart {
    overflow: hidden;
}

.gauge4 .mask {
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    top: 40%;
    background-color: #bee0eb;
    border-radius: 50%/100% 100% 0 0;
}

.gauge4 .percentage {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: 0;
    right: -1px;
    background-color: var(--background, #fff);
    transform: rotate(var(--rotation));
    transform-origin: bottom center;
    transition-duration: 600ms;
}

.gauge4 .value {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    text-align: center;
}

.gauge4 .min {
    position: absolute;
    bottom: 0;
    left: 5%;
}

.gauge4 .max {
    position: absolute;
    bottom: 0;
    right: 5%;
}

.gauge5 {
    --percentage: 100;
    --rotation: calc((100 - var(--percentage)) * 1.8deg);
    position: relative;
    border-radius: 50%/100% 100% 0 0;
    background-color: var(--color, #f43e3e);
    overflow: hidden;
    margin: 7vw;
}

.gauge5:before {
    content: "";
    display: block;
    padding-top: 50%;
}

.gauge5 .chart {
    overflow: hidden;
}

.gauge5 .mask {
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    top: 40%;
    background-color: #bee0eb;
    border-radius: 50%/100% 100% 0 0;
}

.gauge5 .percentage {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: 0;
    right: -1px;
    background-color: var(--background, #fff);
    transform: rotate(var(--rotation));
    transform-origin: bottom center;
    transition-duration: 600ms;
}

.gauge5 .value {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    text-align: center;
}

.gauge5 .min {
    position: absolute;
    bottom: 0;
    left: 5%;
}

.gauge5 .max {
    position: absolute;
    bottom: 0;
    right: 5%;
}
  .abc,.def {
    display: flex;
}
.ghi {
    display: flex;
    margin-left: 15px;
}

#val {
    margin-top: 211px;
    margin-left: -265px;
}
#val1 {
    margin-top: 211px;
    margin-left: -263px;
}

#val2 {
    margin-top: 211px;
    margin-left: -254px;
}
#val3 {
    margin-top: 211px;
    margin-left: -263px;
}
#val4 {
    margin-top: 211px;
    margin-left: -280px;
}
#val5 {
    margin-top: 211px;
    margin-left: -267px;
}

.marker-content {
    display: none;
    width: 30vw;
    height: 70vh;
    background-color: white;
    margin-top: -80vh;
    z-index: 10000;
    position: relative;
    left: 100%;
    transition: left 0.5s ease-in-out;
  }
  .slide-in {
    left: 65vw;
  }
  .close-btn {
    cursor: pointer;
    position: relative;
    left: 28vw;
  }