.ministry {
    width: 20%;
}

.ministry-container {
    position: relative;
}

.ministry-image-page-2 {
    display: none;
}





/* Reset some default styles */
body,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Style the header */
.header1 {
    display: none;
    /* Add this for positioning */
}

/* Style the navigation menu */
.home-ul {
    display: flex;
    flex-direction: column;
    /* Display vertically on smaller screens */
    position: absolute;
    top: 47px;
    left: 0px;
    background-color: #ffffff;
    padding: 20px;
    /* Add some padding for spacing */
    z-index: 1;
}

.home-li {
    margin-bottom: 18px;
    /* Add spacing between menu items */
}

.home-li:hover {
    background-color: white;
}

.home-ul:hover {
    background-color: #406dff;
}

nav a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;

}

.button-1 {
    position: absolute;

}




/* Style the menu icon */
.menu-icon {
    display: none;
    /* Hide by default on larger screens */
    flex-direction: column;
    cursor: pointer;

}

.bar {
    width: 30px;
    height: 3px;
    background-color: #000000;
    margin: 3px 0;
}

.home-image {

    width: 80vw;

}

.home-image-container {
    position: relative;
    margin-top: -16%;
    margin-left: 15%;
}

@media screen and (min-width: 601px) {
    @media screen and (max-width: 850px) {
        .nav1 {
            background-color: transparent;
            /* Bakground color of the navbar */
            color: white;
            /* Text color of the links */
            padding: 10px;
            margin-top: -8%;
            margin-bottom: 7%;

        }

        .navbar {

            margin-right: 2%;
            display: flex;
            justify-content: flex-end
                /* Align items to the right */

        }

        .nav-ul1 {
            list-style-type: none;
            margin: 0;
            padding: 10px;
        }

        .nav-li1 {
            margin-left: -4%;
            /* Adjust the spacing between menu items */
            margin-right: 4%;
            display: inline-block;
            padding: 10px;
        }

        .nav-a {
            text-decoration: none;
            color: white;
            padding: 12px;
        }

        .nav-a:hover {
            background-color: #555;
        }

    }
}

@media screen and (min-width: 851px) {
    @media screen and (max-width: 1200px) {
        .nav1 {
            background-color: transparent;
            /* Bakground color of the navbar */
            color: white;
            /* Text color of the links */
            padding: 10px;
            margin-top: -8%;
            margin-bottom: 7%;

        }

        .navbar {

            margin-right: 2%;
            display: flex;
            justify-content: flex-end
                /* Align items to the right */

        }

        .nav-ul1 {
            list-style-type: none;
            margin: 0;
            padding: 10px;
        }

        .nav-li1 {
            margin-left: -4%;
            /* Adjust the spacing between menu items */
            margin-right: 4%;
            display: inline-block;
            padding: 10px;
        }

        .nav-a {
            text-decoration: none;
            color: white;
            padding: 12px;
        }

        .nav-a:hover {
            background-color: #555;
        }

    }
}


@media screen and (min-width: 1201px) {

    .nav1 {
        background-color: transparent;
        /* Bakground color of the navbar */
        color: white;
        /* Text color of the links */
        padding: 10px;
        margin-top: -10%;
        margin-bottom: 6%;


    }

    .navbar {

        margin-right: 2%;
        display: flex;
        justify-content: flex-end
            /* Align items to the right */

    }

    .nav-ul1 {
        list-style-type: none;
        margin: 0;
        padding: 10px;
    }

    .nav-li1 {
        margin-left: -6%;
        /* Adjust the spacing between menu items */
        margin-right: 4%;
        display: inline-block;
        padding: 10px;
        padding-left: 40px;

    }

    .nav-a {
        text-decoration: none;
        color: white;
        padding: 12px;
        font-size: 25px;
    }

    .nav-a:hover {
        background-color: #555;
    }

}


/* Media query to show/hide menu icon and adjust menu layout */
@media screen and (max-width: 670px) {
    @media screen and (min-width: 370px) {
        .menu-icon {
            display: flex;
            /* Show on smaller screens */
        }

        nav {
            display: none;
            /* Hide the navigation menu by default on smaller screens */
        }

        nav.show {
            display: flex;
            /* Show the navigation menu when the icon is clicked */
        }

        .header1 {
            background-color: #ffffff;
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            position: relative;
            /* Add this for positioning */
        }

        .home-image-container {
            position: relative;
            margin-top: -10%;
            margin-left: 10%;
        }

        .home-image {
            position: fixed;
            margin-top: -13%;
            margin-left: -60%;
            width: 110%;
        }

        .smart {
            position: absolute;
            color: rgb(255, 255, 255);
            margin: 1%;
            margin-left: 45%;
            line-height: 1.5;
            width: 40%;
        }

        .smart-para {
            margin-top: 40px;
            position: absolute;
            color: white;
            line-height: 1.3;
            font-size: 14px;
            width: 100%;
        }

        .smart-sub {
            font-size: 30px;
            font-weight: 900;
            font-family: Sans-serif;


        }

        body {
            background-color: #172141;
        }



    }
}

@media screen and (max-width: 370px) {
    .home-image {
        margin-top: 80%;
        margin-left: -60%;
        width: 150%;
    }

    .menu-icon {
        display: flex;
        /* Show on smaller screens */
    }

    nav {
        display: none;
        /* Hide the navigation menu by default on smaller screens */
    }

    nav.show {
        display: flex;
        /* Show the navigation menu when the icon is clicked */
    }

    .header1 {
        background-color: #ffffff;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        position: relative;
        /* Add this for positioning */
    }

    .home-image-container {
        position: relative;
        margin-top: -10%;
        margin-left: 10%;
    }


    .smart {
        position: absolute;
        color: white;
        margin: 5%;
        margin-left: 55%;
        font-size: 14px;
    }
}


@media screen and (max-width :670px) {

    .user-login {
        margin-left: 30%;
        font-size: 40px;
        color: white;
        margin-top: 7%;
        margin-bottom: 2%;
        font-weight: 700;
        font-family: Sans-Serif;
    }

    .user-login-para {
        margin-left: 31%;
        font-size: 20px;
        color: white;
        margin-top: 2%;
        margin-bottom: 8%;
    }

    .dropdown {

        margin: 2%;
        margin-left: 30%;
    }

    .dropdown-label {
        color: white;
        margin: 2%;
        font-size: 20px;

    }

    .dropdown-box {
        margin-top: 5%;
        margin-left: 3%;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 2%;
        padding-bottom: 2%;
        border-radius: 30px;
    }

    .email-div {
        margin-left: 32%;
    }

    .email-label {
        color: white;
        font-size: 20px;
    }

    .email-input {
        margin-top: 5%;
        margin-left: 0%;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 2%;
        padding-bottom: 2%;
        border-radius: 30px;
        margin-bottom: 2%;
    }

    .password-label {
        color: white;
        font-size: 20px;
    }

    .password-input {
        margin-top: 5%;
        margin-left: 0%;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 2%;
        padding-bottom: 2%;
        border-radius: 30px;
        margin-bottom: 5%;
    }

    .login-button {
        background-color: rgb(48, 255, 224);
        padding-left: 26%;
        padding-right: 26%;
        padding-top: 2%;
        padding-bottom: 2%;
        border-radius: 50px;
    }

    .login-button:hover {
        background-color: #234edc;
    }

}


@media screen and (min-width: 671px) {
    @media screen and (max-width :850px) {
        .user-login {
            margin-left: 2%;
            font-size: 40px;
            color: white;
            margin-top: -7%;
            margin-bottom: 2%;
            font-weight: 700;
            font-family: Sans-Serif;
        }

        .user-login-para {
            margin-left: 2%;
            font-size: 20px;
            color: white;
            margin-top: 1%;
            margin-bottom: 5%;
        }

        .dropdown {

            margin: 0%;
            margin-left: 0%;
        }

        .dropdown-label {
            color: white;
            margin: 2%;

            font-size: 20px;

        }

        .dropdown-box {
            margin-top: 2%;
            margin-bottom: 1%;
            margin-left: 3%;
            padding-left: 10%;
            padding-right: 10%;
            padding-top: 1%;
            padding-bottom: 1%;
            border-radius: 30px;
        }

        .email-div {
            margin-left: 2%;
        }

        .email-label {
            color: white;
            font-size: 20px;
        }

        .email-input {
            margin-top: 1%;
            margin-left: 0%;
            padding-left: 8%;
            padding-right: 8%;
            padding-top: 1%;
            padding-bottom: 1%;
            border-radius: 30px;
            margin-bottom: 2%;
        }

        .password-label {
            color: white;
            font-size: 20px;
        }

        .password-input {
            margin-top: 1%;
            margin-left: 0%;
            padding-left: 8%;
            padding-right: 8%;
            padding-top: 1%;
            padding-bottom: 1%;
            border-radius: 30px;
            margin-bottom: 5%;
        }

        .login-button {
            background-color: rgb(48, 255, 224);
            padding-left: 20%;
            padding-right: 20%;
            padding-top: 1%;
            padding-bottom: 1%;
            border-radius: 50px;
        }

        .login-button:hover {
            background-color: #234edc;
        }

        body {
            background: linear-gradient(to right, #172141 50%, #ffffff 40%);
            margin: 0;
            padding: 0;
            height: 100vh;
        }

        .ministry-image-page-2 {
            display: block;
            position: fixed;
            margin-top: -55%;
            width: 40%;
            margin-left: 55%;
        }
    }
}