body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#voiceForm {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
}

label, input, button, textarea {
    margin-bottom: 10px;
}

#voiceInput, #textOutput {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

